.heading{
    color: #ffffff;
    text-align: center;
}

.sub-heading{
    color: #ffffff;
}

.body{
    background-color: #03827b;
    margin-top: 67.5px;
}

.competition{
    color: #ffffff;
}

.competition-link{
    color: #c4c4c4;
}

.competition-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.school-link{
    color: #c4c4c4;
}

.school-link:hover{
    color: #ed594e;
    text-decoration: none;
}

.competition-div{
    margin-left: 2%;
    margin-right: 2%;
}

.school-div{
    margin-left: 2%;
    margin-right: 2%;
}

.school-text{
    color: #ffffff;
}

.toggle-collapse{
    color: #ffffff;
}

.toggle-collapse:hover{
    color: #ed594e;
    text-decoration: none;
}